<!doctype html>

<html>

    <head>
        <title>Stats Dataframe</title>
        <link rel='stylesheet' type='text/css' href='../static/main.css'>
    </head>
    
    <body>
        <form class='formulaire' method='POST' enctype='multipart/form-data'>
            <h1>Sélectionnez le dataframe :</h1>
            <input type='file' name='file_upload'>          
            <p>
            <button type='submit'>Envoyer</button>
        </form>
        <p>
        <div style="margin-left:10%;">{{describe}}</div>
    </body>

</html>