<!doctype html>

<html>

    <head>
        <title>Accueil</title>
        <link rel='stylesheet' type='text/css' href='../static/main.css'>
    </head>
    
    <body>
        <form class='formulaire' action='.' method='POST'>
            <h1>Entrez votre prénom:</h1>
            <input class='formulaire' type='text' name='prenom'>
               
            <h1>Entrez votre nom:</h1>
            <input class='formulaire' type='text' name='nom'>
              
            <h1>Entrez votre sexe:</h1>
            <input class='formulaire' type='text' name='sexe'>
                
            <h1>Entrez votre pseudo:</h1>
            <input class='formulaire' type='text' name='nick'>
              
            <p></p>
            <button class='button' type='submit'>Valider</button>
        </form>
        
        <button class='button_inscrit' onclick="window.location.href = '{{ url_for('liste_inscrits') }}';">Voir les utilisateurs inscrits</button>
    
    </body>

</html>