.reponse {
    font-size: large;
}

.formulaire {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%
}

.button {
    background-color: red;
    width: 15%;
    margin-left: 4%;
}

.h1 {
    color: blue;
}